In [2]:
import numpy as np
import pylab as pl
import pandas as pd
from sklearn.cluster import KMeans

In [22]:
df = pd.read_csv('segmentation_data.txt', sep = ',', header = None)

In [23]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,110.0,189.0,9,0.0,0.0,1.000000,0.666667,1.222222,1.186342,12.925926,10.888889,9.222222,18.666668,-6.111111,-11.111111,17.222221,18.666668,0.508139,1.910864
1,86.0,187.0,9,0.0,0.0,1.111111,0.720082,1.444444,0.750309,13.740741,11.666667,10.333334,19.222221,-6.222222,-10.222222,16.444445,19.222221,0.463329,1.941465
2,225.0,244.0,9,0.0,0.0,3.388889,2.195113,3.000000,1.520234,12.259259,10.333334,9.333334,17.111110,-5.777778,-8.777778,14.555555,17.111110,0.480149,1.987902
3,47.0,232.0,9,0.0,0.0,1.277778,1.254621,1.000000,0.894427,12.703704,11.000000,9.000000,18.111110,-5.111111,-11.111111,16.222221,18.111110,0.500966,1.875362
4,97.0,186.0,9,0.0,0.0,1.166667,0.691215,1.166667,1.005540,15.592592,13.888889,11.777778,21.111110,-5.111111,-11.444445,16.555555,21.111110,0.442661,1.863654

In [26]:
classes =  pd.read_csv('segmentation_classes.txt', sep = '\t', header = None)
classes.head()

       0  1
0  GRASS  0
1  GRASS  0
2  GRASS  0
3  GRASS  0
4  GRASS  0

In [43]:
classes = np.array(classes)
classes

array([['GRASS', 0L],
       ['GRASS', 0L],
       ['GRASS', 0L],
       ...,
       ['CEMENT', 3L],
       ['CEMENT', 3L],
       ['CEMENT', 3L]], dtype=object)

In [31]:
from sklearn.preprocessing import MinMaxScaler

min_max_scaler = MinMaxScaler()
df_minmax = min_max_scaler.fit_transform(df)
df_minmax

array([[0.43083004, 0.74166667, 0.        , ..., 0.12371135, 0.50813884,
        0.83184923],
       [0.33596838, 0.73333333, 0.        , ..., 0.12739322, 0.46332908,
        0.83698646],
       [0.88537549, 0.97083333, 0.        , ..., 0.11340205, 0.48014903,
        0.84478233],
       ...,
       [0.50197628, 0.625     , 0.        , ..., 0.07216495, 0.5409177 ,
        0.17591546],
       [0.58893281, 0.6125    , 0.        , ..., 0.08100147, 0.50308645,
        0.18478933],
       [0.48616601, 0.62916667, 0.        , ..., 0.09646539, 0.4799313 ,
        0.17037463]])

In [40]:
from sklearn.cluster import KMeans
#Number of clusters
kmeans = KMeans(n_clusters = 7)
#Fit
kmeans = kmeans.fit(df_minmax)
#get cluster labels
clusters = kmeans.predict(df_minmax)
centroids = kmeans.cluster_centers_

In [39]:
print centroids

[[5.35098814e-01 1.50166667e-01 0.00000000e+00 2.77777769e-02
  1.66666667e-03 3.02281387e-02 5.42887957e-04 2.67660451e-02
  5.86661900e-04 8.23246433e-01 7.79716377e-01 8.94170356e-01
  7.88760696e-01 2.70665440e-01 6.66372551e-01 2.89386481e-01
  8.94170356e-01 2.11804171e-01 1.25065773e-01]
 [2.51678367e-01 3.92748756e-01 0.00000000e+00 7.56218884e-02
  1.94029851e-02 7.76573443e-02 4.14943092e-03 6.12403776e-02
  5.03684355e-03 1.47427853e-01 1.37485185e-01 1.84391005e-01
  1.17637066e-01 7.18250172e-01 3.43789293e-01 3.54453556e-01
  1.84648188e-01 4.13413877e-01 2.02752484e-01]
 [3.02505527e-01 5.30861582e-01 0.00000000e+00 5.22598854e-02
  4.66101695e-02 1.00816850e-01 9.42021613e-03 8.39719910e-02
  1.10432753e-02 4.00608091e-01 3.70347226e-01 4.72460748e-01
  3.53035779e-01 4.97146165e-01 5.70882355e-01 2.13054402e-01
  4.72460748e-01 3.02263027e-01 1.63879166e-01]
 [7.48273727e-01 5.32040663e-01 0.00000000e+00 3.91566253e-02
  3.76506024e-02 1.13530170e-01 1.89223845e-02 1.07311223e-01
  1.76269993e-02 2.98573078e-01 2.77520947e-01 3.50080735e-01
  2.63837104e-01 5.93300449e-01 4.49241676e-01 3.11452658e-01
  3.50162801e-01 3.03046926e-01 1.64359304e-01]
 [5.13993692e-01 8.08936588e-01 0.00000000e+00 7.74410751e-02
  5.05050505e-03 5.44737633e-02 1.40719343e-03 4.63349822e-02
  1.40097198e-03 1.08789943e-01 9.14029557e-02 9.24140773e-02
  1.42676436e-01 6.79161019e-01 7.90017879e-02 8.21286885e-01
  1.34900800e-01 4.14491323e-01 8.92332630e-01]
 [7.69062512e-01 4.25930421e-01 0.00000000e+00 1.40237320e-02
  2.26537217e-02 3.97024636e-02 2.98260626e-03 2.31160412e-02
  2.09423436e-03 4.03849749e-02 3.44264190e-02 5.73849797e-02
  2.80592355e-02 7.79917165e-01 2.22794598e-01 4.86886157e-01
  5.83620495e-02 5.39152125e-01 2.44988039e-01]
 [2.53602814e-01 4.59865407e-01 0.00000000e+00 2.63459328e-02
  1.37457045e-02 3.73368364e-02 2.36990363e-03 2.79012170e-02
  2.02174405e-03 2.59422230e-02 1.77752903e-02 4.22796815e-02
  1.64643108e-02 7.69272199e-01 2.16203765e-01 5.08343293e-01
  4.32513955e-02 8.02618370e-01 1.80506442e-01]]

In [ ]:
from sklearn.metrics import completeness_score, homogeneity_score
print completeness_score(,clusters)